{% extends 'base.html.twig' %}

{% block body %}
    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
    <div class="card p-3 rounded container">
        <a class="d-flex align-items-center gap-2 justify-content-end m-2" href="/categories/{{selectedTool.category.id}}">
                    {{ selectedTool.category.name }}
                    <img src="/{{ selectedTool.category.icon }}" alt="" class="icon">
                </a>

        <img src="/uploads/{{ asset(selectedTool.mainPic) }}" alt="{{ selectedTool.mainPic }}" class="card-img-top">
        <h2 class="card-title">{{ selectedTool.name }}</h2>
        <small class="badge text-end bg-info">Propriétaire : {{ selectedTool.owner.firstName }}</small>
                    <div class="container bg-secondary text-light rounded p-3 my-2">
                        <small>Description : </small>
                        <div class="card-text">{{ selectedTool.description}}</div>
                    </div>
    
    <div class="container bg-primary rounded p-3 text-light">
        <h3>Emprunter</h3>
        {{ form_start(formulaire) }}
            {{ form_widget(formulaire, {'attr': {'class': 'bg-primary'}}) }}
        {{ form_end(formulaire) }}
    </div>
    <div>
        {% for borrow in selectedTool.borrows %}         
                <p>Emprunté par {{ borrow.borrower.firstName}} du : {{ borrow.startDate|date("d-m-Y") }} au : {{ borrow.endDate|date("d-m-Y") }}</p>       
        {% endfor %}
    </div>
{% endblock %}
